<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trick Center</title>
</head>
<body>

<li><a href="/">Information</a></li>
<li><a href="/nutritionStore">Nutrition Store</a></li>
<!-- //////////////////////////////////////////////////////////
<form action="/addTrick">
    <lable>
        <b>Trick</b>
    </lable>

    <select name="trick" id="">
        <p th:each="eachTrick : ${trickList}">
            <option th:text="${eachTrick}">trick</option>
        </p>
    </select>

    <a th:href="@{/addTrick}">
        <input type="submit" value="Learn"/>
    </a>
</form>
 //////////////////////////////////////////////////////////-->
<form action="/addTrick2">
    <lable>
        <b>Trick2</b>
    </lable>

    <select name="trick" id="">
        <p th:each="eachTrick2 : ${trickList2}">
            <option th:text="${eachTrick2}">trick</option>
        </p>
    </select>

    <a th:href="@{/addTrick2}">
        <input type="submit" value="Learn"/>
    </a>
</form>

</body>
</html>