<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Exercise 1</title>
</head>
<body>
<!-- with help of each loop, from value of parameter name(myLion)
we get each item(in this case just one item) which contains the fields (name, balance, animalType)) -->
<h1 th:each="item : ${myLion}">
    Fields of Lion Bank Account
    <!-- since myLion value is an Object, here trying to get each field of that Object-->
    <h2 th:text="|Name of Lion: ${item.name}|"/>
    <!-- COMMA separates every 3 digits, and 2 gives 2 digit decimal number, NOTE: no need to change in java to float number-->
    <h2 th:text="|Balance: ${#numbers.formatDecimal(item.balance,0,'COMMA', 2, 'POINT')}|"/>
    <h2 th:text="|Animal Type: ${item.animalType}|"/>
</h1>

</body>
</html>