<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Exercise 3</title>
</head>
<body>
<!-- with help of each loop, from value of parameter name(myLion)
we get each item(in this case just one item) which contains the fields (name, balance, animalType)) -->
<h1 th:each="item : ${myZebra}">
    Fields of Zebra Bank Account
    <!-- since myLion value is an Object, here trying to get each field of that Object-->
    <h2 th:text="|Balace and Animal Type is: ( ${item.balance} ${item.animalType} )|">
    </h2>
</h1>
</body>
</html>