/*body {
    display: flex;
    flex-direction: column;
}*/

.article {
    /*height: 10vw;*/
    width: auto;
    padding-left: 70px;
    margin: 10px;
    position: relative;
    margin-bottom: 40px;
}

.rank {
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 20px;
}

.vote {
    position: absolute;
    width: 30px;
    height: 15px;
    left: 30px;
    top: 29px;
}

img {
    position: absolute;
    left: 35px;
    top: 15px;
}

.downvote {
    margin-top: 30px;
}

a {
    display: block;
}

.info {
    display: block;
    margin-top: 5px;
}

button {
    margin-top: 5px;
    margin-right: 5px;
}