<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/todo.css}"/>
    <title>To DO</title>
</head>
<body>
<h1>Todos for Today:</h1>
<!--
<div>
    <a th:href="@{/todo?isActive=false}">List of Undone Todos</a>
</div>

<div>
    <a th:href="@{/todo?isActive=true}">List of Done Todos</a>
</div>
-->
<div>
    <a th:href="@{/todo/add.html}"> Add New Todo</a>
</div>
<div>
    <p>
        <div>
    <p></p>
</div>
</p>
</div>

<div>
    <b>
        <form action="/todo/done" method="get">
            <button th:name="isDone" th:value="true">List the Done Todos</button>
            <button th:name="isDone" th:value="false">List the NOT Done Todos</button>
        </form>
    </b>
</div>
<table>
    <header>
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>DONE</th>
            <th>URGENT</th>
        </tr>
    </header>
    <tr th:each="item : ${eachTodo}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getTitle()}"></td>
        <td th:text="${item.isDone()}"></td>
        <td th:text="${item.isUrgent()}"></td>
        <td><a th:href="|${item.getId()}/delete|">Delete</a></td>
        <td><a th:href="${item.getId()} + '/edit'">Edit</a></td>
    </tr>
</table>
<form action="/todo/" method="post">
    <input type="SUBMIT" value="All todos"/>
</form>
</body>
</html>